<div [formGroup]="form" class="form-group">
    <label [for]="controlName">{{ label }}</label>
    <input 
      [id]="controlName" 
      [formControlName]="controlName" 
      [type]="type" 
      [placeholder]="placeholder" 
      class="form-control" />
    <div *ngIf="isInvalid" class="error-messages">
      <small *ngIf="form.get(controlName)?.errors?.['required']">{{ label }} is required</small>
      <small *ngIf="form.get(controlName)?.errors?.['email']">Invalid email address</small>
    </div>
</div>